<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission for mqtt  -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:name=".MyApp"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".createAccount.CreateAccountActivity" android:exported="true" />
        <activity android:name=".StarterPage" />
        <activity android:name=".createAccount.SetName"/>
        <activity android:name=".createAccount.SetProfilePic"/>
        <activity android:name=".createAccount.SetPasscode"/>
        <activity android:name=".AlarmStatusActivity" />
        <activity android:name=".History.HistoryActivity" />
        <activity android:name=".Settings.SettingsActivity" />
        <activity android:name=".Settings.EditProfileActivity" />
        <activity android:name=".Settings.ChangePattern" />
        <activity android:name=".Settings.ChangePasscode" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />



    </application>

</manifest>